#main{
	width: 1100px;
	background-color: lightgreen;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: column;
}
table{
	margin: 20px;
}
.small{
	width: 200px;
	padding: 5px
}
.big{
	width: 600px;
	font-size: 26px;
	text-align: center;
	padding: 15px;
}